#to-top {
  display: none;
  position: fixed;
  right: rem(25px);
  bottom: rem(20px);
  width: rem(50px);
  height: rem(50px);
  border: none;
  border-radius: 50%;
  background-color: rgba($color: var(--secondary-color), $alpha: 0.3);
  z-index: 199;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: rem(21px);
    left: rem(17.5px);
    border-left: rem(2px) solid #fff;
    border-top: rem(2px) solid #fff;
    width: rem(14px);
    height: rem(14px);
    transform: rotate(45deg);
  }
  &:active,
  &:hover {
    background-color: rgba($color: var(--secondary-color), $alpha: 0.6);
  }
}