@import 'rem-mixin';

/* Fonts */
$main-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$title-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

/* Colors */
$main-text-color: #F2F4F1;
$invert-text-color: #2e2f2d;
$main-bg-color: #2e2f2d;
$invert-bg-color: #F2F4F1;
$gray-bg-color: #BCBEBB;
$middle-gray-bg-color: #898B88;
$dark-gray-bg-color: #595b58;
$primary-color: #6c2ca8;
$hover-primary-color: scale-color($color: $primary-color, $lightness: +25%);
$dark-primary-color: #6c2ca8;
$secondary-color: #6c2ca8;
$hover-secondary-color: scale-color($color: $secondary-color, $lightness: +25%);
$dark-secondary-color: #6c2ca8;

//scale-color($color: #EE1C25, $lightness: -30%);
//scale-color($color: #EE1C25, $blackness: +30%);
//rgba($color: #000000, $alpha: 1.0)

/* Media */
$tablet: rem(1200px);
$mobile: rem(767px);
$small-mobile: rem(440px);